<div class="well well-sm">
    <div style="text-align:right;padding:0px;">
        <div class="container">
            <span class="pull-left" style="padding:10px;font-size:28px;"><strong>Shopping Cart</strong></span>
            <button class="btn btn-default btn-lg btn-link" style="font-size:36px;">
                <a href="#/cart"><span class="glyphicon glyphicon-shopping-cart"></span></a>
            </button>
            <span class="badge badge-notify" ng-bind="cartvalue"></span>
        </div>
    </div>
</div>
<div class="item  col-xs-12 col-lg-12 col-sm-12 col-md-12" style="padding-top:0px;">
    <div class="page-header" style="margin-top:0px;margin-right:0px;margin-left:0px;">
        <h3>My Cart (<span ng-bind="cartvalue"></span>)</h3>      
    </div>
    <div class="thumbnail">
        <div class="caption">
            <!--<h4 class="group inner list-group-item-heading">
                Product title</h4>-->
            <!--<p class="group inner list-group-item-text">
                Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
            <div class="row" ng-repeat="product in productList">
                <!--class="group list-group-image"-->
                <img class="col-xs-12 col-md-2 col-sm-4 col-lg-2 pull-left" width="150px" height="150px" ng-src="{{product.product_url}}" alt="" /> 
                <div class="col-xs-8 col-md-8 col-sm-8 col-lg-8">
                    <h4 class="group inner list-group-item-heading" ng-bind="product.product_title"></h4>
                </div>
                <div class="col-xs-8 col-md-8 col-sm-8 col-lg-8">
                    <p class="lead" style="padding-top:30px;font-size:16px;font-weight:bold;">$<span ng-bind="calculate_price(product.product_id,product.product_price);"></span></p>
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center" style="padding:10px;">
                    <a class="btn btn-default" style="border:0px;" href="" ng-click="remove(product.product_id);">Remove</a>
                    <hr style="border-bottom:2px solid black;"></hr>
                </div>
            </div>
            <div class="row" ng-hide="productList.length==0">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center" style="padding-bottom:20px;">
                    <div class="col-xs-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-offset-1 col-xs-4 col-md-4 col-sm-4 col-lg-4 text-center">
                        <a class="btn btn-warning" href="#/home" style="padding:20px;width:100%;border:0px;">Continue Shopping</a>
                    </div>
                    <div class="col-xs-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-offset-2 col-xs-4 col-md-4 col-sm-4 col-lg-4 text-center">
                        <a class="btn btn-success" href="#/home" ng-click="deletelocalstorage_on_checkout()" style="padding:20px;width:100%;border:0px;">Proceed Checkout</a>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="productList.length==0">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center" style="padding-bottom:20px;">
                    <a class="btn btn-warning" href="#/home" style="padding:20px;width:30%;border:0px;">Add Item To Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{cart}}