<div class="item  col-xs-12 col-lg-12 col-sm-12 col-md-12" style="padding-top:0px;">
    <div class="page-header" style="margin-top:0px;margin-right:0px;margin-left:0px;">
        <h3>My Cart (<span></span>)</h3>      
    </div>
    <div class="thumbnail">
        <!--class="group list-group-image"-->
        <img class="col-xs-12 col-md-2 col-sm-4 col-lg-2 pull-left" width="150px" height="50px" src="assets/img/images.jpg" alt="" />
        <div class="caption">
            <!--<h4 class="group inner list-group-item-heading">
                Product title</h4>-->
            <!--<p class="group inner list-group-item-text">
                Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
            <div class="row">
                <div class="col-xs-8 col-md-8 col-sm-8 col-lg-8">
                    <h4 class="group inner list-group-item-heading">
                        Product title
                    </h4>
                </div>
                <div class="col-xs-8 col-md-8 col-sm-8 col-lg-8">
                    <p class="lead" style="padding-top:30px;font-size:16px;font-weight:bold;">
                        $21.000
                    </p>
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center" style="padding:10px;">
                    <a class="btn btn-default" style="border:0px;" href="">Remove</a>
                    <hr style="border-bottom:2px solid black;"></hr>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center" style="padding-bottom:20px;">
                    <div class="col-xs-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-offset-1 col-xs-4 col-md-4 col-sm-4 col-lg-4 text-center">
                        <a type="button" class="btn btn-warning" href="#/home" style="padding:20px;width:100%;border:0px;">Continue Shopping</a>
                    </div>
                    <div class="col-xs-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-offset-2 col-xs-4 col-md-4 col-sm-4 col-lg-4 text-center">
                        <input type="button" class="btn btn-success" style="padding:20px;width:100%;border:0px;" value="Proceed Checkout">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>